[run]
source = .
omit =
    */asgi.py
    */wsgi.py
    */manage.py
    */migrations/*
    */__pycache__/*
    */tests.py
    */test_*.py
    */conftest.py
    */admin.py
    */apps.py
    */settings.py
    */urls.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if __name__ == .__main__.:
    raise AssertionError
    raise NotImplementedError
    if 0:
    if False:
