asgiref==3.12.1
ast_serialize==0.6.0
attrs==26.1.0
black==26.5.1
cfgv==3.5.0
click==8.4.2
coverage==7.15.2
crispy-bootstrap5==2026.3
distlib==0.4.3
dj-database-url==3.1.2
Django==6.0.7
django-crispy-forms==2.6
django-extensions==4.1
django-stubs==6.0.7
django-stubs-ext==6.0.7
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.30.0
filelock==3.30.1
gunicorn==26.0.0
identify==2.6.19
inflection==0.5.1
iniconfig==2.3.0
isort==8.0.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
librt==0.13.0
mypy==2.3.0
mypy_extensions==1.1.0
nodeenv==1.10.0
packaging==26.2
pathspec==1.1.1
platformdirs==4.10.0
pluggy==1.6.0
pre_commit==4.6.0
psycopg==3.3.4
psycopg-binary==3.3.4
Pygments==2.20.0
PyJWT==2.13.0
pytest==9.1.1
pytest-cov==7.1.0
pytest-django==4.12.0
python-discovery==1.4.4
python-dotenv==1.2.2
pytokens==0.4.1
PyYAML==6.0.3
referencing==0.37.0
rpds-py==2026.6.3
ruff==0.15.22
setuptools==83.0.0
sqlparse==0.5.5
-e git+https://github.com/mohammad-hussein-dev/django-task-manager.git@e8817aa9a5b6b1f31af1036905379af76146bf11#egg=taskmanager
types-PyYAML==6.0.12.20260518
typing_extensions==4.16.0
uritemplate==4.2.0
virtualenv==21.6.1
wheel==0.47.0
whitenoise==6.12.0
